body{

  width: 800px;

}
.cabecera{

  display: flex;
  justify-content: center;
  background-color: red;
  width: 100%;
  height: 60px;
}

.menu{

  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100%;
  height: 60px;

}


.contenedorImagen{
  width: 100%;
  height: auto;
}


.contenedor2{

  text-align: center;
  
 
  


}
.row {
  width: 50%;
  
}

* {
  box-sizing: border-box;
}


.row {
  content: "";
  display: table;
  clear: both;
  
}

.border{
  border: solid black 1px;
  width: 200%;
}


.column:after {
  content: "";
  display: table;
  clear: both;
  

  
  
  
}
@media (max-width: 768px) {
  .contenedorImagen{
      display: none;
      
  }


body{
  max-width: 50%;
}
}

  img{
      width: 100%;
      height: 100%;
  }

.footer{
  display: flex;
  justify-content: center;
  background-color: yellow;
  width: 100%;




}